@use 'sass:map';
@use '../variables' as v;

@mixin font-face(
  $font-family,
  $file-path,
  $font-weight: $font-weight-regular,
  $font-style: normal
) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('#{$file-path}.woff2') format('woff2');
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}

$font-styles: (100, normal), (100, italic), (200, normal), (200, italic),
  (300, normal), (300, italic), (400, normal), (400, italic), (500, normal),
  (500, italic), (600, normal), (600, italic), (700, normal), (700, italic),
  (800, normal), (800, italic), (900, normal), (900, italic);

@each $weight, $style in $font-styles {
  @include font-face(
    v.$font-family,
    '#{v.$font-path}/rawline-#{$weight}#{if($style == italic, 'i', '')}',
    $weight,
    $style
  );
}
