@mixin footer-info-configs {
  @include footer-info-tokens;
  @include footer-info-default;
  @include footer-info-dark;
}

@mixin footer-info-tokens {
  --footer-info-font-size: var(--font-size-scale-down-01);
  --footer-info-font-weight: var(--font-weight-medium);
  --footer-info-background-darken: #04132a;
}

@mixin footer-info-default {
  font-size: var(--footer-info-font-size);
  font-weight: var(--footer-info-font-weight);
}

@mixin footer-info-dark {
  &.dark {
    background-color: var(--footer-info-background-darken);
  }
}
