.br-header {
  .header-actions {
    margin-right: var(--spacing-scale-2x);
  }

  .header-links,
  .header-functions {
    &.dropdown.show {
      .br-list {
        left: auto;
        right: 0;
        min-width: 150px;
      }
    }

    .br-item {
      color: var(--interactive);
    }

    a i {
      margin-right: var(--spacing-scale-base);
    }
  }

  .header-links {
    &:not(.show) {
      a i {
        display: none;
      }
    }
  }
}
