.article-info {
  display: flex;
  flex-wrap: wrap;

  > .article-info-term {
    font-size: var(--font-size-scale-base);
    font-weight: var(--font-weight-bold);
    flex-grow: 1;
    width: 100%;
  }

  dd {
    margin-left: var(--spacing-scale-half);
    min-height: 36px;
    border: 0;
    padding: var(--spacing-scale-base) var(--spacing-scale-2x);

    &:not(:last-child) {
      border-color: var(--border-color);
      border-style: solid;
      display: block;
      border-right-width: var(--surface-width-sm);
    }
  }
}
