.br-list {
  &.article-info {
    .br-item {
      min-height: 36px;
      margin-left: var(--spacing-scale-half);
    }

    .br-item:not(:last-child) {
      border-color: var(--border-color);
      border-style: solid;
      border-width: 0;
      display: block;
      align-self: stretch;
      border-right-width: var(--surface-width-sm);
      border-top-width: 0;
    }
  }
}
